body{
    background-color: rgb(231, 231, 231);
}

.checkers_modal{
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.modal_content{
    margin: 0 auto;
    height: 80vh;
    width: 80vw;
    background-color: lightblue;

}

Button{
    width:50px;
    height:50px;
}

.red_checker{
    background-color: red;
    border: none
}

.blue_checker{
    background-color: blue;
    border: none
}

.red_chosen{
    background-color: rgb(250, 35, 35, 0.5);
}

.neighbor_chosen{
    background-color: rgb(212, 206, 206);
}