body{
    background-color: rgb(231, 231, 231);
}

.movable{
    background-color: rgb(236, 232, 232);
}

.checkers_modal{
    position: fixed;
    bottom: 0px;
    right: 0px;
}


.modal_content{
    margin: 0 auto;
    width: 40vw;
    height: 40vw;
    border: 1px solid grey;
}




Button{
    width:5vw;
    height:5vw;
    border: 1px solid grey;
}

.red_checker{
    background-color: red;
    border: none
}

.red_king_checker{
    background-color: rgb(54, 2, 2);
    border: none
}

.blue_checker{
    background-color: blue;
    border: none
}

.red_chosen{
    background-color: rgb(250, 35, 35, 0.5);
}

.neighbor_chosen{
    background-color: rgb(212, 206, 206);
}

.blue_king_checker{
    background-color: rgb(12, 12, 87);
}

.blue_has_won{
    color: blue;
    background-color: blue;
}

.invisible{
    visibility: hidden;
}





